.todo {
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
}

.todo-all {
  font-size: xx-large;
}

.todo-list {
}

.todo-title {
  font-family: "Nanum Pen Script", cursive;
}

.todo-Form {
}

.sub {
  margin-left: 5px;
}
