.todo {
  font-family: "Nanum Pen Script", cursive;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.todo-Form {
}

.todo-title {
  /* width: 500px;
  height: 500px; */
  font-family: "Nanum Pen Script", cursive;
}

.todo-items {
  border: 1px solid lightblue;
}
