#todo {
  font-family: "Nanum Pen Script", cursive;
  font-size: x-large;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.todo-items {
  margin-left: 40%;
  width: 20%;
  border: 1px solid lightblue;
}
