.todo {
  font-family: "Nanum Pen Script", cursive;
  font-size: x-large;
  display: flex;
  justify-content: center;
  text-align: center;
}

.todo-Form {
}

.todo-title {
}

.todo-items {
  margin-top: 20px;
  width: 500px;
  height: 500px;
  border: 1px solid lightblue;
}
